{% extends 'app_shop/base.html' %}

{% block title %}Kirish{% endblock %}

{% block content %}
    <div class="auth-form">
        <h2>Tizimga kirish</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-detail" style="width: 100%; border: none;">Kirish</button>
        </form>
        <p style="margin-top: 15px; text-align: center;">
            Akkauntingiz yo'qmi? <a href="{% url 'register' %}">Ro'yxatdan o'tish</a>
        </p>
    </div>
{% endblock %}